#custom {
  font-family: 'Lobster', cursive;
}

#custom a:link {
  color: rgb(255, 102, 128);
}
#custom a:visited {
  color: purple;
}

h1 {
  font-family: 'Lobster', cursive;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}