@{
  Layout = "_Layout";
}

@model List<HairSalon.Models.Client>;

<h1>Salon Personnel Management Tool</h1>
<p>@Html.ActionLink("View Stylist List", "Index", "Stylists")</p>
<p>@Html.ActionLink("View Client List", "Index", "Clients")</p>