@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h1>Clients</h1>

@if (((IEnumerable<dynamic>)ViewBag.Stylists).Count() == 0)
{
  <p>You need to add a Stylist before you can add clients to the database.</p>
}
else
{
  @if (@Model.Count == 0)
  {
    <h3>No clients have been added yet!</h3>
  }

  @foreach (Client client in Model)
  {
    <li>@Html.ActionLink($"{client.FirstName}", "Details", new { id = client.ClientId }) | @client.Stylist.FirstName</li>
  }
  <p>@Html.ActionLink("Add new client to database", "Create")</p>
}